*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
 
  
  
  header{
    background: #4980cc;
    width: 100%;
    clear: both;
    content: '';
    display: table;
  }
  
  .menu{
    margin: 0 auto;
    height: 50px;
    position: relative;
  }

  #logo{
    width: 30px;
    height: 30px;
    float: left;
    margin: 10px auto 10px 25px;
  }
  
  #nombre_logo{
    width: 120px;
    height: 45px;
    float: left;
    margin: 2.5px 0;
  }

  #search_bar{
    height: 30px;
    float: left;
    margin: 10px;
    border-radius: 6px;
  }
  
  nav{
    float: right;
  }